*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

*::selection{
    color: #fff;
    background-color: #000;
}

.cursor{
    height: 220px;
    width: 220px;
    background-color: #dcc0b4cc;
    border-radius: 50%;
    position: fixed;
    z-index: -1;
    transform: translate(-50%,-50%) scale(0);
}

.nav{
    height: 12vh;
    width: 100%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5vw;
}

.nav-svg{
    height: 10vh;
    padding: 0.1vw;
    overflow: hidden;
}

.nav-svg svg{
    display: block;
    align-items: center;
    justify-content: center;
}


.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.nav-right .links a{
    text-decoration: none;
    color: #000;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.nav-right .links a:hover{
    color: #dcc0b4;
    transition: all ease 0.3s;
}

.nav-right .links{
    display: flex;
    gap: 4vw;
}

.nav-right .icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3vw;
    width: 13vw;
    background-color: #fff;
    border-radius: 50px;
}

.nav-right .icons i{
    font-size: 1.2vw;
}


.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0 2vw;
    padding-top: 25vh;
}

.page1 h1{
    font-size: 14vw;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 11vw;
    letter-spacing: -11px;
}

.page1 .hero-img{
    height: 95vh;
    width: 100%;
    overflow: hidden;
    margin-top: 4vw;
}

.hero-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.2;
}

.page1 .section{
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
}

.page1 .section h2{
    font-size: 4vw;
    font-weight: 900;
    letter-spacing: -4px;
}

.page1 .section p{
    font-size: 1vw;
    font-weight: 500;
}

.page1 .section h4{
    font-size: 1vw;
    font-weight: 500;
    padding: 0.5vw;
    border-bottom: 1px solid black;
}

.page1line{
    height: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.page1line p{
    font-size: 0.7vw;
}

.page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page2 .elm {
    height: 92vh;
    width: 31%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.elm img {
     height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    scale: 1.1;
}

.elm .shop-icon{
    height: 6vh;
    width: 20vw;
    border-radius: 50px;
    background-color: #dcc0b4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 9;
}

.shop-icon .gol{
    height: 8px;
    width: 8px;
    background-color: #000;
    border-radius: 50%;
}

.shop-icon p {
    font-size: 0.8vw;
    text-transform: uppercase;
}

.elm .container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    top: 48%;
    height: 4vh;
    overflow: hidden;
    width: 20vw;
    border-radius: 25px;
    background-color: #faded2;
    transition: all ease 1s;
}

.container .img1{
    padding: 2.5vw 1vw;
}

.container .img2{
    padding: 2.5vw 1vw;
}

.container p {
    font-size: 0.7vw;
    text-transform: uppercase;
    text-align: center;
}
.container img {
    height: 8vw;
    width: 8vw;
}


.section2{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2vw;
}

.section2 .left {
    height: 60%;
    width: 55%;
    font-size: 2.5vw;
    line-height: 0.9;
    font-weight: 900;
}

.section2 .right {
    height: 50%;
    width: 48%;
    display: flex;
    align-items: center;
    gap: 3vw;
    flex-direction: column;
}

.section2 .right p {
    width: 50%;
    line-height: 1.6;
}

.section2 .right h4{
    height: 4vw;
    text-transform: uppercase;
    padding: 0.5vw 0;
    font-size: 0.8vw;
    font-weight: 200;
    border-bottom: 1px solid black;
}

.page3{
    height: 180vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


.page3 .img {
    height: 90vh;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.page3 img{
    height: 70vh;
    width: 80%;
}

.page3 p{
    font-size: 0.8vw;
    text-transform: uppercase;
}

.page3-line{
    height: 3vh;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    padding: 2vw;
    justify-content: space-between;
}

.page3-line p{
    font-size: 1vw;
}
.page4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 1.5vw;
}

.page4 .impact{
    height: 100%;
    width: 30%;
    font-size: 1.1vw;
    display: flex;
    gap: 1.5vw;
    padding-right: 6vw;
    flex-direction: column;
    line-height: 1.6;
}

.impact h2{
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
}

.impact h4{
    height: 3.5vh;
    width: 12vw;
    font-size: 0.9vw;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid black;
}

.page4-img{
    height: 82vh;
    width: 70%;
    display: flex;
    gap: 2vw;
}

.page4-img .img1, .page4-img .img2{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.page4-img img{
    height: 105%;
    width: 100%;
}


footer {
    height: 105vh;
    width: 100%;
    padding: 2vw;
}

footer .email input{
    height: 10vh;
    width: 100%;
    font-size: 3vw;
    font-weight: 900;
    background-color: #f7f7f7;
    color: #000;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid black;
}

footer .email input::placeholder{
    color: #000;
}


.mob-logo{
    display: none;
}

.footer-center{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-center li{
    list-style: none;
    font-size: 0.9vw;
    line-height: 1.6;
}

.footer-center .faqs li{
    text-align: end;
}

.footer-center p{
    padding-bottom: 1.5vw;
    font-size: 0.9vw;
    color: gray;
}

.footer-logo{
    height: 100%;
    width: 60%;
    padding-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo div{
    display: flex;
    gap: 2vw;
    padding-top: 5vw;
    text-transform: uppercase;
}

.footer-logo svg{
    height: 15vw;
    width: 15vw;
}

footer .bottom{
    height: 30vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .bottom p{
    width: 62%;
    font-size: 0.9vw;
    line-height: 1.6;
    font-weight: 500;
}

footer .bottom div{
    display: none;
}


@media (max-width:600px){
    .nav{
    height: 15vh;
    width: 100%;
    padding: 2vw;
}

.nav-svg{
    height: 10vh;
    overflow: hidden;
}

.nav-svg svg{   
    padding: 0.5vw;
    display: block;
    align-items: center;
    justify-content: center;
}

.nav-right .links{
    display: none;
}

.nav-right .icons{
    height: 4vh;
    width: 35vw;
}

.nav-right .icons i{
    font-size: 4vw;
}


.cursor{
    display: none;
}

.page1{
     padding: 0 3vw;
    padding-top: 25vh;
}

.page1 h1{
    line-height: 12vw;
    letter-spacing: -4px;
}

.page1 .hero-img{
    margin-top: 2vw;
    height: 25vh;
    width: 100%;
}

.hero-img img {
    scale: 1.1;
}

.page1 .section{
    height: 35vh;
    width: 100%;
    gap: 5vw;
    padding: 2vw;
}

.page1 .section h2{
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: -1px;
}

.page1 .section p{
    width: 50%;
    text-align: center;
    font-size: 3.5vw;
    line-height: 1.6;
    font-weight: 500;
}

.page1 .section h4{
    font-size: 2.5vw;  
    letter-spacing: 2px;
    border-bottom: 1.5px solid black;
}

.page1line{
    height: 3vh;
}

.page1line p{
    font-size: 3vw;
}

.page2 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vw 0;
}

.page2 .elm {
    height: 80vh;
    width: 90%;
}

.elm img {
     height: 100%;
    width: 100%;
  
}

.elm .shop-icon{
    height: 6vh;
    width: 70vw;
}

.shop-icon .gol{
    height: 10px;
    width: 10px;
}

.shop-icon p {
    font-size: 3vw;
}

.elm .container{
    height: 4vh;
    width: 70vw;
    padding: 2vw 0.5vw;
    transition: all ease 1s;
}

.container .img1{
    padding: 2vw 1.5vw;
}

.container .img2{
    padding: 2vw 1.5vw;
}

.container p {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}
.container img {
    height: 35vw;
    width: 32vw;
}


.section2{
    height: 50vh;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
    gap: 5vw;
}

.section2 .left {
    height: 20%;
    width: 100%;
    text-transform: uppercase;
    font-size: 3.5vw;
    line-height: 1.1;
    font-weight: 900;
}

.section2 .right {
    height: 80%;
    width: 100%;
    gap: 4vw;
}

.section2 .right p {
    width: 95%;
    line-height: 1.6;
}

.section2 .right h4{
    height: 6vw;
    letter-spacing: 1.5px;
    font-size: 2.5vw;
    font-weight: 300;
}

.page3{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    padding: 0;
}


.page3 .img {
    height: 30vh;
    width: 48%;
    margin: 0;
}

.page3 img{
    height: 100%;
    width: 90%;
}

.page3 p{
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
}

.page3-line{
    height: 4vh;
}

.page3-line p{
    font-size: 3.5vw;
}

.page4{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3vw;
    padding: 4vw;
}


.page4 .impact{
    height: 50vh;
    width: 100%;
    font-size: 3vw;
    display: flex;
    gap: 3vw;
    padding-right: 8vw;
}

.impact h2{
    font-size: 6vw;
}

.impact h4{
    height: 3vh;
    width: 28vw;
    font-size: 2vw;
    letter-spacing: 1px;
}

.page4-img{
    height: 30vh;
    width: 100%;
    display: flex;
    gap: 2vw;
}

.page4-img .img1, .page4-img .img2{
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.page4-img img{
    height: 105%;
    width: 100%;
}

footer {
    height: 90vh;
    width: 100%;
    padding: 2vw;
}

footer .email input{
    height: 5vh;
    width: 100%;
    font-size: 4vw;
}

footer .mob-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15vh;
    width: 100%;
    padding: 4vw;
    margin-top: 2vw;
}

.mob-logo svg{
    height: 12vh;
    width: 20vw;
}

.footer-center{
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer-center  li{
    list-style: none;
    font-size: 3.5vw;
    line-height: 1.6;
}

.footer-center .faqs li{
    text-align: start;
}

.footer-center p{
    padding-bottom: 5vw;
    font-size: 3vw;
    color: gray;
}

.footer-logo{
    display: none;
}

footer .bottom{
    height: 40vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2vw;
}

footer .bottom p{
    width: 96%;
    font-size: 3.5vw;
    line-height: 1.6;
    font-weight: 500;
}

footer .bottom div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10vw;
    text-transform: uppercase;
}

.bottom div p {
    font-size: 2.5vw;
    color: rgba(128, 128, 128, 0.808);
}

}
